@import "tailwindcss";

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}

select,
input,
textarea {
  color-scheme: dark;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: zinc-500;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: zinc-400;
}
